*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Android Studio specific files
.idea/
.gradle/

# Ignore build output directories
/build/
*/build/

# Ignore files for the Android build system
*.apk
*.ap_
*.dex
*.class

# Ignore large files
res/raw/heartrate.mp4

# Ignore log files
*.log
